<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detailing studio</title>
  <link rel="shortcut icon" href="./img/icons/hacker-mascot-for-sports-and-esports-logo-free-vector.jpg" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  <link rel="stylesheet" href="../styles/css/main.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper__header">
    <header class="header">
      <div class="container__header">
        <div class="header__body">
          <a href="#" class="logo"><img src="../img/icons/hacker-mascot-for-sports-and-esports-logo-free-vector.jpg" alt="logo" class="image"/></a>
          <div class="detailing-studio">
        
            <span>
              <span class="detailing-studio1">Detailing</span>
              <span class="detailing-studio2">Studio</span>
            </span>
          </div>
          <div class="navbar__burger">
            <span></span>
          </div>
          <nav class="navbar">
            <ul class="navbar__list">
              <li><a href="../index.html" class="navbar__link">Home</a></li>
              <li><a href="./about us.html" class="navbar__link">About Us</a></li>
              <li><a href="./Cars.html" class="navbar__link">Tuning</a></li>
              <li><a href="./contact.html" class="navbar__link">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
  <main class="main-1">
    <div class="container">
      <section class="gallery">
        <div class="frame">
          <div class="frame__content">
            <h2 class="text__about">Car World</h2>
          </div>
        </div>
  
        <div class="frame">
          <div class="frame__content">
            <div class="frame-media frame-media_left" style="background-image: url(../img/chip-tuning-2.jpeg)"></div>
          </div>
        </div>
  
        <div class="frame frame_bg">
          <div class="frame__content">
            <video class="frame-media frame-media_right" src="../media/pexels-tima-miroshnichenko-6872480 (2160p).mp4" autoplay loop muted></video>
          </div>
        </div>
  
        <div class="frame"></div>
  
        <div class="frame">
          <div class="frame__content text-right">
            <h3 class="text__about">Detailing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur elit adipisicing. Nemo fugit, rerum dolorem assumenda consequatur dicta error iure laboriosam temporibus.</p>
          </div>
        </div>
  
        <div class="frame frame_bg">
          <div class="frame__content">
            <div class="frame-media frame-media_left" style="background-image: url(../img/Einsatz-von-LED-Technik-beim-Tuning-der-Fahrzeugbeleuchtung-scaled.jpg)"></div>
          </div>
        </div>
  
        <div class="frame"></div>
  
        <div class="frame frame_bg">
          <div class="frame__content">
            <div class="frame-media frame-media_right" style="background-image: url(../img/04ed03b3a1297f71a8db3786546f200e.jpg)"></div>
          </div>
        </div>
  
        <div class="frame"></div>
  
        <div class="frame">
          <div class="frame__content text-left">
            <h3 class="text__about">Your emotions</h3>
            <p>Lorem ipsum dolor sit amet, consectetur elit. Rerum dolorem assumenda consequatur dicta error iure laboriosam temporibus omnis quae eaque aliquam esse unde accusamus dolores non soluta.</p>
          </div>
        </div>
  
        <div class="frame frame_bg">
          <div class="frame__content">
            <div class="frame-media frame-media_right" style="background-image: url(../img/34924-chernyy-avtomobil-shina-mercedes_benz_cl_class-mercedes_benz_c_class-3840x2160.jpg)"></div>
          </div>
        </div>
  
        <div class="frame">
          <div class="frame__content">
            <video class="frame-media frame-media_left" src="../media/pexels-westarmoney-10738992 (1080p).mp4" autoplay loop muted></video>
          </div>
        </div>
  
        <div class="frame"></div>
        <div class="frame"></div>
  
        <div class="frame frame_bg">
          <div class="frame__content">
            <div class="frame-media frame-media_right" style="background-image: url(../img/ss22.jpg)"></div>
          </div>
        </div>
  
        <div class="frame frame_bg">
          <div class="frame__content">
            <video class="frame-media" src="../media/pexels-alexander-popovkin-15185375 (1080p).mp4" autoplay loop muted></video>
          </div>
        </div>
  
        <div class="frame"></div>
        <div class="frame"></div>
  
        <div class="frame">
          <div class="frame__content">© Mikita Averyn</div>
        </div>
  
      </section>
    </div>
    
  </main>

	<img class="soundbutton paused" src="../img/sound.gif" alt="Alt">
	<audio class="audio" src="../media/ambient.mp3" loop></audio>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="../js/burger.js"></script>
  <script src="../js/3d-scroll.js"></script>
  
</body>
</html>