.animated__title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080c11;
}
.animated-text {
    margin-top: 200px;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: neon-glow 2s ease-in-out infinite alternate;
  }

  @keyframes neon-glow {
    0% {
      text-shadow: 0 0 5px #480132, 0 0 10px #fcfcfc, 0 0 20px #ff01bb;
    }
    100% {
      text-shadow: 0 0 5px #f67efe, 0 0 10px #ffffff, 0 0 20px #430c40;
    }
  }