
.detailing-studio,
.detailing-studio * {
  box-sizing: border-box;
}
.detalinig-studio {
  font-style: 700 26px "Raleway", sans-serif;
  position: relative;

}

  .left-block {
    top: 80px;
  }

.detailing-studio1 {
  color: $color-white;
  font-style: 700 26px "Raleway", sans-serif;
  font-size: 2.5rem;

  margin-left: -40rem;
  position: relative;
}
.detailing-studio2 {
  color: $color-purple;
  font-style: 700 26px "Raleway", sans-serif;
  font-size: 2.5rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  opacity: 90;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black;
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}