.navbar {
  &__link {
    transition: all 0.3s;

    position: relative;
    padding: $p-0-5 0;
    margin-left: 20px;

    text-decoration: none;
    line-height: 30px;
    color: $color-white;
    font-size: $font-14;
    margin-right: 2rem;

    &::after{
      content: '';
      width: 0;
      height: 3px;
      background: $color-purple;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: $color-purple;
      text-decoration: none;
      transform: translateY(-6px);
      filter: blur(1px);
    }
  }
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 1rem;
  border-radius: 50%;
}

.navbar__burger {
  display: none;
}

@media (max-width: 776px) {

  .detailing-studio {

    display: none;

  }

  .header {
    background: #000;
  }
  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 1rem;   
  }

  .navbar__burger.active span {
    transform: scale(0);
  }

  .navbar__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .navbar__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .navbar__list li {
    margin-bottom: 0 0 20px 0;   
  }

  .left-block .navbar {
    display: none;
  }

  .navbar__burger span {
    position: absolute;
    background-color: $color-white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__body {
    height: 50px;
  }

  .logo {
    flex: 0 0 30px;
  }

  .navbar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #171322;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;

    &__list {
      transition: all 0.3s;
      display: flex;
    justify-content: space-between;
    align-items: center;
  
      padding: $p-1-5;
  
      &:hover {
        transform: translateY(-3px);
      }
    }

    &__link {
      transition: all 0.3s;
  
      position: relative;
      padding: $p-0-5 0;
  
      text-decoration: none;
      line-height: 30px;
      color: $color-white;
      font-size: $font-13;
  
      &:hover {
        color: $color-purple;
        text-decoration: none;
        filter: blur(1px);
      }
    }
  }

  .navbar.active {
    top: 0;
  }

  .navbar__burger::before,
  .navbar__burger::after {
    content: '';
    background-color: $color-white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .navbar__burger::before {
    top: 0;
  }
  .navbar__burger::after {
    bottom: 0;
  }
}

.navbar__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.wrapper__header {
  width: 1400px;
}
