@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #8d44c9;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background-color: #171322;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.title {
  padding: 2rem;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 55px;
  color: #8d44c9;
  cursor: pointer;
}
.title-section {
  padding: 1.3rem;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  color: #8d44c9;
}
.title-description {
  padding: 0 0.5rem;
  font-size: 12px;
  text-align: center;
  color: rgba(25, 0, 169, 0.7960784314);
  letter-spacing: 1px;
  line-height: 1.3;
}

.modal {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.modal-body {
  background: linear-gradient(140.32deg, #4b4949 -277.16%, #141218 66.28%);
}
.modal-header {
  background: #8d44c9;
  border-bottom: none;
  color: #ffffff;
}

.lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
}

.close {
  text-shadow: none;
  opacity: 1;
}

.image {
  width: 100%;
}
.image__card {
  position: absolute;
  right: 0;
  top: 5rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 80%;
}

.decorate {
  color: #ffffff;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-title {
  transition: all 0.3s;
  padding-left: 1rem;
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}
.logo-title:hover {
  color: #8d44c9;
  text-decoration: none;
}

.checkout {
  position: absolute;
  top: -16rem;
  right: 2rem;
  z-index: 2;
}

.shape {
  position: absolute;
  left: 10rem;
  top: -2rem;
  z-index: 1;
}

.around {
  height: 45rem;
  border: 5px solid #8d44c9;
  border-radius: 50%;
}
.around .title {
  transform: rotateZ(25deg);
}
.around-2 {
  height: 35rem;
  border: 5px solid #8d44c9;
  border-radius: 50%;
}
.around-3 {
  height: 25rem;
  border: 5px solid #8d44c9;
  border-radius: 50%;
}
.around-4 {
  height: 15rem;
  border: 5px solid #8d44c9;
  border-radius: 50%;
}
.around-5 {
  height: 5rem;
  border: 5px solid #8d44c9;
  border-radius: 50%;
}

.btn__info {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  background-repeat: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.btn__info::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn__info:active {
  color: #8d44c9;
}

.btn__info:active::after {
  background: transparent;
}

.btn__info:active::before {
  opacity: 1;
}

.btn__info:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff00c8;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
}
.btn__animated:hover {
  background: #ff00c8;
  color: #434242;
  box-shadow: 0 0 5px #ff00c8, 0 0 25px #ff00c8, 0 0 50px #ff00c8, 0 0 200px #ff00c8;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}

.btn__animated:nth-child(1) {
  filter: hue-rotate(270deg);
}

.btn__animated:nth-child(2) {
  filter: hue-rotate(110deg);
}

.btn__animated span {
  position: absolute;
  display: block;
}

.btn__animated span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff00c8);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.btn__animated span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff00c8);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.btn__animated span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff00c8);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.btn__animated span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff00c8);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main__contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #171322;
  color: #a0a5a8;
  margin-top: 50px;
}

/**/
.main-contact {
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: #f0e8f5;
  box-shadow: 10px 10px 10px #181818, -10px -10px 10px #5e5d5d;
  border-radius: 30px;
  overflow: hidden;
}

.container__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: #f0e8f5;
  transition: 1.25s;
}

.form {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.form__icon {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  margin: 0 5px;
  opacity: 0.5;
  transition: 0.15s;
}

.form__icon:hover {
  transition: 0.15s;
  cursor: pointer;
  color: #181818;
  opacity: 1;
}

.form__input {
  width: 350px;
  height: 40px;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-color: #f0e8f5;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.form__input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

.form__span {
  margin-top: 30px;
  margin-bottom: 12px;
}

.form__link {
  color: #181818;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
  cursor: pointer;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818;
}

.description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #a367e7;
  color: #f9f9f9;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

/**/
.a-container {
  z-index: 100;
  left: calc(100% - 600px);
}

.b-container {
  left: calc(100% - 600px);
  z-index: 0;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: #f0e8f5;
  overflow: hidden;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #d1d9e6;
}

.switch__circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #f0e8f5;
  box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #d1d9e6;
  bottom: -60%;
  left: -60%;
  transition: 1.25s;
}

.switch__circle--t {
  top: -30%;
  left: 60%;
  width: 300px;
  height: 300px;
}

.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}

.switch__button {
  cursor: pointer;
}

.switch__button:hover {
  box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
  transform: scale(0.985);
  transition: 0.25s;
}

.switch__button:active,
.switch__button:focus {
  box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
  transform: scale(0.97);
  transition: 0.25s;
}

/**/
.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1.25s;
}

.is-gx {
  animation: is-gx 1.25s;
}

@keyframes is-gx {
  0%, 10%, 100% {
    width: 400px;
  }
  30%, 50% {
    width: 500px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --gutter: 30px;
  --side-small: 26;
  --side-big: 36;
  --depth: 4000px;
  --transition: .75s cubic-bezier(.075, .5, 0, 1) ;
}

/* Скрываем Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: raleway_c;
  src: url(../fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}
@font-face {
  font-family: raleway_c;
  src: url(../fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}
.main-1 {
  background-color: #171322;
  color: #fff;
  font-size: calc(var(--index) * 0.8);
  font-family: raleway_c, sans-serif;
  line-height: 1.75;
  height: var(--depth);
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1600px;
}

.gallery {
  transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition), opacity 0.75s ease;
  will-change: transform;
  transform-style: preserve-3d;
}

.text__about {
  font-weight: 100;
  text-transform: uppercase;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
}

.frame .text__about {
  text-align: center;
  font-size: calc(var(--index) * 3.3);
}

.frame-media {
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover;
}

.frame-media_left {
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame-media_right {
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame_bg {
  background-color: rgba(0, 0, 0, 0.87);
}

video.frame-media {
  width: calc(var(--index) * var(--side-big));
  height: calc(var(--index) * var(--side-small));
}

video.frame-media_right {
  left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

video.frame-media_left {
  right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

.text-right > * {
  position: relative;
  left: 18vw;
}

.text-left > * {
  position: relative;
  right: 18vw;
}

.frame .text__about {
  font-size: calc(var(--index) * 3);
}

.frame p {
  max-width: 30vw;
  margin-top: 3vh;
}

.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 24px;
  transition: 0.25s ease;
}

.soundbutton.paused {
  opacity: 0.25;
}

.navbar__link {
  transition: all 0.3s;
  position: relative;
  padding: 0.5rem 0;
  margin-left: 20px;
  text-decoration: none;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  margin-right: 2rem;
}
.navbar__link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #8d44c9;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.navbar__link:hover::after {
  width: 100%;
}
.navbar__link:hover {
  color: #8d44c9;
  text-decoration: none;
  transform: translateY(-6px);
  filter: blur(1px);
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 1rem;
  border-radius: 50%;
}

.navbar__burger {
  display: none;
}

@media (max-width: 776px) {
  .detailing-studio {
    display: none;
  }
  .header {
    background: #000;
  }
  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 1rem;
  }
  .navbar__burger.active span {
    transform: scale(0);
  }
  .navbar__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .navbar__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .navbar__list li {
    margin-bottom: 0 0 20px 0;
  }
  .left-block .navbar {
    display: none;
  }
  .navbar__burger span {
    position: absolute;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__body {
    height: 50px;
  }
  .logo {
    flex: 0 0 30px;
  }
  .navbar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #171322;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .navbar__list {
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  .navbar__list:hover {
    transform: translateY(-3px);
  }
  .navbar__link {
    transition: all 0.3s;
    position: relative;
    padding: 0.5rem 0;
    text-decoration: none;
    line-height: 30px;
    color: #ffffff;
    font-size: 13px;
  }
  .navbar__link:hover {
    color: #8d44c9;
    text-decoration: none;
    filter: blur(1px);
  }
  .navbar.active {
    top: 0;
  }
  .navbar__burger::before,
  .navbar__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .navbar__burger::before {
    top: 0;
  }
  .navbar__burger::after {
    bottom: 0;
  }
}
.navbar__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.wrapper__header {
  width: 1400px;
}

.main {
  background: radial-gradient(ellipse at bottom, #002b36 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
  top: calc(50% + 43px);
  left: calc(50% - 202px);
  animation-delay: 6587ms;
}

.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  animation-delay: 6587ms;
}

.shooting_star:nth-child(2) {
  top: calc(50% - 180px);
  left: calc(50% - 179px);
  animation-delay: 8571ms;
}

.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  animation-delay: 8571ms;
}

.shooting_star:nth-child(3) {
  top: calc(50% - 47px);
  left: calc(50% - 157px);
  animation-delay: 811ms;
}

.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  animation-delay: 811ms;
}

.shooting_star:nth-child(4) {
  top: calc(50% + 112px);
  left: calc(50% - 150px);
  animation-delay: 8650ms;
}

.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  animation-delay: 8650ms;
}

.shooting_star:nth-child(5) {
  top: calc(50% + 4px);
  left: calc(50% - 280px);
  animation-delay: 7760ms;
}

.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  animation-delay: 7760ms;
}

.shooting_star:nth-child(6) {
  top: calc(50% + 42px);
  left: calc(50% - 281px);
  animation-delay: 4125ms;
}

.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  animation-delay: 4125ms;
}

.shooting_star:nth-child(7) {
  top: calc(50% - 166px);
  left: calc(50% - 273px);
  animation-delay: 6172ms;
}

.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  animation-delay: 6172ms;
}

.shooting_star:nth-child(8) {
  top: calc(50% + 199px);
  left: calc(50% - 14px);
  animation-delay: 209ms;
}

.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  animation-delay: 209ms;
}

.shooting_star:nth-child(9) {
  top: calc(50% + 10px);
  left: calc(50% - 63px);
  animation-delay: 2326ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  animation-delay: 2326ms;
}

.shooting_star:nth-child(10) {
  top: calc(50% + 84px);
  left: calc(50% - 246px);
  animation-delay: 203ms;
}

.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  animation-delay: 203ms;
}

.shooting_star:nth-child(11) {
  top: calc(50% - 165px);
  left: calc(50% - 38px);
  animation-delay: 6523ms;
}

.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  animation-delay: 6523ms;
}

.shooting_star:nth-child(12) {
  top: calc(50% + 138px);
  left: calc(50% - 280px);
  animation-delay: 1330ms;
}

.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  animation-delay: 1330ms;
}

.shooting_star:nth-child(13) {
  top: calc(50% + 89px);
  left: calc(50% - 32px);
  animation-delay: 9508ms;
}

.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  animation-delay: 9508ms;
}

.shooting_star:nth-child(14) {
  top: calc(50% + 29px);
  left: calc(50% - 76px);
  animation-delay: 72ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  animation-delay: 72ms;
}

.shooting_star:nth-child(15) {
  top: calc(50% - 8px);
  left: calc(50% - 16px);
  animation-delay: 6705ms;
}

.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  animation-delay: 6705ms;
}

.shooting_star:nth-child(16) {
  top: calc(50% - 74px);
  left: calc(50% - 138px);
  animation-delay: 1684ms;
}

.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  animation-delay: 1684ms;
}

.shooting_star:nth-child(17) {
  top: calc(50% - 56px);
  left: calc(50% - 10px);
  animation-delay: 2419ms;
}

.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  animation-delay: 2419ms;
}

.shooting_star:nth-child(18) {
  top: calc(50% - 131px);
  left: calc(50% - 272px);
  animation-delay: 8462ms;
}

.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  animation-delay: 8462ms;
}

.shooting_star:nth-child(19) {
  top: calc(50% - 49px);
  left: calc(50% - 184px);
  animation-delay: 41ms;
}

.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  animation-delay: 41ms;
}

.shooting_star:nth-child(20) {
  top: calc(50% + 167px);
  left: calc(50% - 185px);
  animation-delay: 5073ms;
}

.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  animation-delay: 5073ms;
}
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.animated__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #080c11;
}

.animated-text {
  margin-top: 200px;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neon-glow 2s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  0% {
    text-shadow: 0 0 5px #480132, 0 0 10px #fcfcfc, 0 0 20px #ff01bb;
  }
  100% {
    text-shadow: 0 0 5px #f67efe, 0 0 10px #ffffff, 0 0 20px #430c40;
  }
}
.container {
  padding: 10px 10%;
}

.section__scroll {
  background-size: 50px;
  color: #8d44c9;
  font-family: raleway-c;
}

.hero {
  width: calc(var(--index) * 36);
  position: absolute;
  left: 37vw;
  top: 22vh;
}

.main-head {
  height: 100vh;
}

.container-1 {
  padding: 0 7vw;
}

.main-title {
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: -moz-min-content;
  width: min-content;
  bottom: 12vh;
  line-height: 0.9;
}

.gallery-1 {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery-1 > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}

.text-block {
  color: var(--color-text);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
  color: #8d44c9;
  text-align: center;
}

.text-block__p {
  line-height: 1.75;
  text-align: center;
}

.detailing-studio,
.detailing-studio * {
  box-sizing: border-box;
}

.detalinig-studio {
  font-style: 700 26px "Raleway", sans-serif;
  position: relative;
}

.left-block {
  top: 80px;
}

.detailing-studio1 {
  color: #ffffff;
  font-style: 700 26px "Raleway", sans-serif;
  font-size: 2.5rem;
  margin-left: -40rem;
  position: relative;
}

.detailing-studio2 {
  color: #8d44c9;
  font-style: 700 26px "Raleway", sans-serif;
  font-size: 2.5rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
  opacity: 90;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.main-2 {
  margin-top: 5rem;
}

#about {
  padding: 80px 0px;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 37%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 p {
  text-align: center;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #8d44c9;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

/* .tab-links:hover::after{
width: 100%;
} */
.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #8d44c9;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ----------SERVICES---------- */
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 15px;
  line-height: 30 px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div {
  color: #ffffff;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #8d44c9;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.services-list div:hover {
  background: #434242;
  transform: translateY(-10px);
  color: #8d44c9;
}

/* ----------PORTFOLIO---------- */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(255, 49, 49, 0.5);
  border-right: 1px solid rgba(0, 255, 255, 0.5);
  border-bottom: 1px solid rgba(57, 255, 20, 0.5);
  border-left: 1px solid rgba(255, 255, 113, 0.5);
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(90deg, transparent 50%, rgba(255, 49, 49, 0.5), rgb(255, 49, 49));
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(90deg, rgb(57, 255, 20), rgba(57, 255, 20, 0.5), transparent 50%);
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg, transparent 30%, rgba(0, 255, 255, 0.5), rgb(0, 255, 255));
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg, rgb(255, 255, 113), rgba(255, 255, 113, 0.5), transparent 70%);
}

.top {
  animation: animateTop 3s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 3s ease-in-out infinite;
}

.right {
  animation: animateRight 3s ease-in-out infinite;
}

.left {
  animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }
  30%, 100% {
    opacity: 0;
  }
}
@keyframes animateBottom {
  0%, 50% {
    opacity: 0;
    width: 0;
  }
  75% {
    opacity: 1;
    width: 100%;
  }
  76%, 100% {
    opacity: 0;
  }
}
@keyframes animateRight {
  0%, 25% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 1;
    height: 100%;
  }
  55%, 100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes animateLeft {
  0%, 75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
.border__animation {
  position: absolute;
  border-radius: 100vmax;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: #8d44c9;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.5s;
}

.layer h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #ffffff;
}

.layer a {
  margin-top: 30px;
  color: #080808;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #8d44c9;
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  transition: background 0.75s;
}

.btn:hover {
  background: #8d44c9;
}

/* ----------CONTACT---------- */
.contact-left {
  flex-basis: 35%;
  margin-left: 5rem;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
  color: #ffffff;
}

.contact-left p i {
  color: #8d44c9;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: color 0.5s, transform 0.5s;
}

.social-icons a:hover {
  color: #8d44c9;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
}

.btn.btn3 {
  background: #080808;
  margin-top: 30px;
  transition: background 0.5;
}

.btn.btn3:hover {
  background: #8d44c9;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #8d44c9;
  transition: color 0.5s;
}

.copyright i:hover {
  color: #fff;
}

nav .fas {
  display: none;
}

.footer__logo {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #ffffff;
}
.footer__title-1 {
  color: #ffffff;
  font-size: 18px;
}
.footer__title-2 {
  color: #8d44c9;
  font-size: 18px;
}
.footer__content {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 10rem;
}
.footer__content_item {
  width: calc(25% - 2rem);
  display: flex;
  flex-direction: column;
}
.footer__content_item-subtitle {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-left: 3.5rem;
}
.footer__content_item-text {
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer__content_item-text--title {
  opacity: 1;
  color: #ffffff;
  margin-top: 1rem;
}

.container__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#instagram,
#twitter,
#youtube,
#facebook {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 20px;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5019607843), 10px 1px 12px rgba(0, 0, 0, 0.5019607843), 2px 2px 10px rgba(0, 0, 0, 0.5019607843), 2px 2px 3px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843), inset 2px 2px 10px rgba(0, 0, 0, 0.5019607843);
  border-radius: 29px;
  padding: 11px 19px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

#instagram {
  animation-delay: 0.1s;
}

#twitter {
  animation-delay: 0.4s;
}

#facebook {
  animation-delay: 1s;
}

#youtube {
  animation-delay: 0.7s;
}

.fa:hover {
  cursor: pointer;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.left-block {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyrights .navbar__lists {
  justify-content: center;
}/*# sourceMappingURL=main.css.map */